In [1]:
import pandas as pd

In [106]:
dss_scores = pd.read_csv("DSScoreTerm1.csv")
math_scores = pd.read_csv("MathScoreTerm1.csv")
physics_scores = pd.read_csv("PhysicsScoreTerm1.csv")
ethinicity = dss_scores['Ethinicity']
dss_scores.drop(["Ethinicity","Name","Age","Sex"],axis=1,inplace=True)
math_scores.drop(["Ethinicity","Name","Age","Sex"],axis=1,inplace=True)
physics_scores.drop(["Name"],axis=1,inplace=True)
print(dss_scores.head())
print(math_scores.head())
print(physics_scores.head())
print(ethinicity.unique())

   Score        Subject  ID
0   82.0  Data Structue   1
1   79.0  Data Structue   2
2   39.0  Data Structue   3
3   76.0  Data Structue   4
4   76.0  Data Structue   5
   Score Subject  ID
0   88.0   Maths   1
1   85.0   Maths   2
2   45.0   Maths   3
3   82.0   Maths   4
4   82.0   Maths   5
   Score  Age         Ethinicity  Subject Sex  ID
0   84.0   18     White American  Physics   M   1
1   81.0   19  European American  Physics   M   2
2   41.0   19  European American  Physics   M   3
3   78.0   18     White American  Physics   M   4
4   78.0   18     White American  Physics   F   5
['White American' 'European American' 'Hispanic' 'African American']

In [107]:
scores = pd.merge(dss_scores,math_scores,on="ID")
scores = pd.merge(scores,physics_scores, on="ID")
scores['Score'].fillna(0,inplace=True)
scores['Score_x'].fillna(0,inplace=True)
scores['Score_y'].fillna(0,inplace=True)
# scores.fillna()
print(scores.head())

   Score_x      Subject_x  ID  Score_y Subject_y  Score  Age  \
0     82.0  Data Structue   1     88.0     Maths   84.0   18
1     79.0  Data Structue   2     85.0     Maths   81.0   19
2     39.0  Data Structue   3     45.0     Maths   41.0   19
3     76.0  Data Structue   4     82.0     Maths   78.0   18
4     76.0  Data Structue   5     82.0     Maths   78.0   18

          Ethinicity  Subject Sex
0     White American  Physics   M
1  European American  Physics   M
2  European American  Physics   M
3     White American  Physics   M
4     White American  Physics   F

In [108]:
# replacing M and F with 1 and 2
scores.replace(inplace=True,to_replace=({'M':1,'F':2}))

In [109]:
print(scores.head())

   Score_x      Subject_x  ID  Score_y Subject_y  Score  Age  \
0     82.0  Data Structue   1     88.0     Maths   84.0   18
1     79.0  Data Structue   2     85.0     Maths   81.0   19
2     39.0  Data Structue   3     45.0     Maths   41.0   19
3     76.0  Data Structue   4     82.0     Maths   78.0   18
4     76.0  Data Structue   5     82.0     Maths   78.0   18

          Ethinicity  Subject  Sex
0     White American  Physics    1
1  European American  Physics    1
2  European American  Physics    1
3     White American  Physics    1
4     White American  Physics    2

In [110]:
# replacing the score_column with thier subject name
scores.rename(columns={'Score_x':'Data Structures','Score_y':'Maths','Score':'Physics'},inplace=True)
print(scores.head())

   Data Structures      Subject_x  ID  Maths Subject_y  Physics  Age  \
0             82.0  Data Structue   1   88.0     Maths     84.0   18
1             79.0  Data Structue   2   85.0     Maths     81.0   19
2             39.0  Data Structue   3   45.0     Maths     41.0   19
3             76.0  Data Structue   4   82.0     Maths     78.0   18
4             76.0  Data Structue   5   82.0     Maths     78.0   18

          Ethinicity  Subject  Sex
0     White American  Physics    1
1  European American  Physics    1
2  European American  Physics    1
3     White American  Physics    1
4     White American  Physics    2

In [111]:
# droping columns which are not needed
scores.drop(['Subject_x','Subject_y','Subject'],axis=1,inplace=True)

In [112]:
print(scores.head())

   Data Structures  ID  Maths  Physics  Age         Ethinicity  Sex
0             82.0   1   88.0     84.0   18     White American    1
1             79.0   2   85.0     81.0   19  European American    1
2             39.0   3   45.0     41.0   19  European American    1
3             76.0   4   82.0     78.0   18     White American    1
4             76.0   5   82.0     78.0   18     White American    2

In [113]:
# replacing Ethinicity with codes.
scores.replace(to_replace={'White American':'WA','European American':'EA','Hispanic':'H','African American':'AA'},inplace=True)
print(scores.head())

   Data Structures  ID  Maths  Physics  Age Ethinicity  Sex
0             82.0   1   88.0     84.0   18         WA    1
1             79.0   2   85.0     81.0   19         EA    1
2             39.0   3   45.0     41.0   19         EA    1
3             76.0   4   82.0     78.0   18         WA    1
4             76.0   5   82.0     78.0   18         WA    2

In [115]:
print(scores['Data Structures'].mean())

67.45409015025042

In [118]:
scores['Data Structures'].head()

0    82.0
1    79.0
2    39.0
3    76.0
4    76.0
Name: Data Structures, dtype: float64

### Doubt: Why does .map not work? also I would like to understand .map() fucntion, I read the documentation but did not understand.

In [119]:
scores['Data Structures'].map({0.0:67.45}).head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Data Structures, dtype: float64

In [121]:
scores['Data Structures'].replace(0.0,67.45).head()

0    82.0
1    79.0
2    39.0
3    76.0
4    76.0
Name: Data Structures, dtype: float64

In [122]:
# replacing the 0 scores with the average of the class.
scores['Data Structures'].replace(0.0,scores['Data Structures'].mean(),inplace = True)
scores['Maths'].replace(0.0,scores['Maths'].mean(),inplace=True)
scores['Physics'].replace(0.0,scores['Physics'].mean(), inplace=True)
print(scores.head())

   Data Structures  ID  Maths  Physics  Age Ethinicity  Sex
0             82.0   1   88.0     84.0   18         WA    1
1             79.0   2   85.0     81.0   19         EA    1
2             39.0   3   45.0     41.0   19         EA    1
3             76.0   4   82.0     78.0   18         WA    1
4             76.0   5   82.0     78.0   18         WA    2

In [126]:
scores.to_csv('ScoreFinal.csv',index=False)