In [31]:
import csv
import numpy as np
import pandas as pd

## Question 1

In [29]:

file_reader = csv.reader(open("SalaryGender.csv",'r'),delimiter = ",")
salary_col = []
gender_col = []
age_col = []
phd_col = []
first = True
for row in file_reader:
# if we do not need the headings...
#     if first:
#         first=False
#         continue
    salary_col.append(row[0])
    gender_col.append(row[1])
    age_col.append(row[2])
    phd_col.append(row[3])


salary_col = np.array(salary_col)
print(salary_col)
gender_col = np.array(gender_col)
print(gender_col)
age_col = np.array(age_col)
print(age_col)
phd_col = np.array(phd_col)
print(phd_col)
print(len(phd_col),len(gender_col))

['Salary' '140' '30' '35.1' '30' '80' '30' '60' '31.1' '125' '51' '3' '46'
 '150' '3' '130' '15' '130' '84' '190' '74' '73' '10' '50' '7' '9.5'
 '15.2' '28.6' '20' '72' '81' '100' '90' '90' '35' '30' '25' '52' '9' '63'
 '72' '16' '92' '106' '2.5' '9' '32' '32' '55' '52' '28' '20' '14.7'
 '22.3' '34.8' '84' '19' '160' '65' '55' '4.6' '102' '20' '62' '55' '45.6'
 '40' '24' '35' '48' '20' '40.7' '15' '0.25' '152' '39.8' '12' '30' '120'
 '1.7' '36' '96' '38' '90' '9' '25.8' '22' '38.8' '72' '89' '41' '89' '25'
 '52' '115' '66' '18.6' '152' '1.8' '35' '4']
['Gender' '1' '0' '0' '1' '0' '0' '1' '0' '1' '1' '1' '1' '1' '1' '1' '0'
 '1' '0' '1' '1' '0' '0' '0' '0' '0' '1' '1' '0' '0' '1' '0' '0' '0' '1'
 '0' '1' '0' '0' '1' '1' '1' '0' '1' '1' '0' '0' '0' '1' '1' '0' '0' '0'
 '1' '0' '0' '1' '1' '0' '0' '1' '1' '1' '0' '1' '1' '0' '0' '1' '0' '0'
 '0' '1' '0' '1' '0' '0' '1' '1' '1' '1' '1' '0' '1' '1' '0' '0' '0' '1'
 '1' '0' '1' '0' '1' '0' '0' '1' '1' '1' '0' '0']
['Age' '47' '65' '56' '23' '53' '27' '53' '30' '44' '63' '22' '59' '60'
 '28' '65' '25' '65' '47' '66' '45' '46' '24' '60' '63' '27' '66' '36'
 '30' '51' '65' '45' '52' '54' '30' '52' '26' '49' '22' '34' '60' '28'
 '58' '77' '67' '27' '48' '45' '49' '36' '65' '32' '49' '67' '22' '49'
 '43' '61' '43' '52' '51' '66' '29' '62' '56' '61' '56' '41' '24' '60'
 '43' '57' '23' '53' '71' '20' '27' '69' '58' '37' '32' '33' '32' '60'
 '71' '30' '62' '54' '42' '62' '51' '71' '29' '55' '54' '55' '26' '56'
 '28' '44' '24']
['PhD' '1' '1' '0' '0' '1' '0' '0' '0' '1' '1' '0' '0' '1' '0' '0' '0' '0'
 '1' '1' '1' '0' '0' '0' '0' '0' '1' '1' '0' '1' '1' '1' '1' '1' '0' '0'
 '0' '0' '0' '1' '0' '0' '1' '1' '0' '0' '1' '0' '1' '0' '1' '0' '0' '0'
 '0' '1' '0' '1' '1' '0' '0' '1' '0' '0' '1' '0' '0' '0' '0' '0' '0' '0'
 '0' '0' '1' '0' '0' '1' '1' '0' '1' '1' '1' '0' '0' '0' '0' '0' '1' '0'
 '1' '1' '0' '1' '0' '1' '0' '1' '0' '0' '0']
101 101

## Question 2

In [30]:
count = 0

# print(len(phd_col),len(gender_col))
gender_col = gender_col[1:]
gender_col = gender_col.astype(int)
phd_col = phd_col[1:]
phd_col = phd_col.astype(int)
data = np.logical_and(gender_col , phd_col)
# print(data)
print(len(phd_col),len(gender_col))
for row in data:
    if row:
        count+=1
print("number of male phds",count)
print("number of wodman phds",len(data)-count)

100 100
number of male phds 24
number of wodman phds 76

## Question3

In [36]:
data = pd.read_csv("SalaryGender.csv")
# print(data)
age_phd_dataframe = data.drop(["Salary"],axis=1).drop(["Age"],axis=1)
print(age_phd_dataframe)

    Gender  PhD
0        1    1
1        0    1
2        0    0
3        1    0
4        0    1
5        0    0
6        1    0
7        0    0
8        1    1
9        1    1
10       1    0
11       1    0
12       1    1
13       1    0
14       1    0
15       0    0
16       1    0
17       0    1
18       1    1
19       1    1
20       0    0
21       0    0
22       0    0
23       0    0
24       0    0
25       1    1
26       1    1
27       0    0
28       0    1
29       1    1
..     ...  ...
70       0    0
71       1    0
72       0    0
73       1    1
74       0    0
75       0    0
76       1    1
77       1    1
78       1    0
79       1    1
80       1    1
81       0    1
82       1    0
83       1    0
84       0    0
85       0    0
86       0    0
87       1    1
88       1    0
89       0    1
90       1    1
91       0    0
92       1    1
93       0    0
94       0    1
95       1    0
96       1    1
97       1    0
98       0    0
99       0    0

[100 rows x 2 columns]